{% extends "template/basepage.html" %}
{%block js%}
        <script  type="text/javascript">
            function delPlugin(id){
                art.dialog({id:'msg',title:'提示',content:"要删除点击的游戏房间数么？",icon:'warning',lock: true,cancel:true,ok:function(){
                                try{
                                    $j.get('RoomDelete?appcode='+id,null,result,false);

                                }catch(e){
                                    return ;
                                }
                            }});
            }
            function delKindPlugin(id){
                art.dialog({id:'msg',title:'提示',content:"要删除点击的分类么？",icon:'warning',lock: true,cancel:true,ok:function(){
                                try{
                                    $j.get('KindDelete?id='+id,null,result,false);

                                }catch(e){
                                    return ;
                                }
                            }});
            }
            function result(result){
                var resultobj=JSON2.parse(result);
                if(resultobj.success){
                    result_alert2('succeed',resultobj.message);
                }else{
                    result_alert2('warning',resultobj.message);
                }

                $j("#"+resultobj.result).each(function(i,tr){
                    tr.remove();
                });
                //document.getElementById('kind'+resultobj.result).style.display='none';
            }
        </script>
        <script  type="text/javascript">
            var pluginlist = [];
            {% for room in roomlist %}
            pluginlist.push('{{room.key().name()}}');
            {% endfor %}
            var plugindata=new Object();
            var pluginimgdata=new Object();
        </script>
        {% for room in roomlist %}
        <script  type="text/javascript" src="{{pluginurl}}/getPluginNameByGamecode?appcode={{room.key().name()}}">
        </script>
        {% endfor %}
        <script   type="text/javascript" >
            window.onload=function()
            {
                var appcode=null;
                for(var i=0;i<pluginlist.length;i++){
                    appcode = pluginlist[i].replace(/\./g,'_');
                    $j('#td'+appcode).html(plugindata[appcode]);
                    $j('#img'+appcode).attr('src','{{pluginurl}}/download?image_id='+pluginimgdata[appcode]);
                }
            }
        </script>
{%endblock%}
{% block navigator %}
<a  href="/RoomList">游戏房间管理</a>
 >>  <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}

<table width="90%" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
    <tr  bgcolor="#ffffff">
        <td colspan="6" style="height: 50px;text-align: center;">
            <form action="/RoomList" method="get">
                <label>appcode:</label><input name="appcode" value="{%if appcode%}{{appcode}}{%endif%}" width="20"><input type="submit" value="查询">
            </form>
            {%if appcode%}
            <form action="/RoomCreate" method="get">
                <input type="hidden" name="appcode" value="{{appcode}}" width="20">
                <input type="submit" value="房间管理">
            </form>
            {%endif%}
        </td>
    </tr>
    <tr bgcolor="#ffffff"  height="25">
    <td width="40px"  align="center">顺序号</td>
    <td width="80px" align="center">游戏appcode</td>
    <td width="80px" align="center">游戏名称</td>
    <td width="80px" align="center">图标</td>
    <td width="100px" align="center">房间数</td>
    <td width="50px;" align="center">操作</td>
    </tr>
    {% for room in roomlist %}
        <tr id="{{room.key().name()}}" style="cursor:hand"  height="25"  onmouseover="cells_color(this,1);" onMouseOut="cells_color(this,2);" bgcolor="#ffffff">
            <td align="center">{{loop.index}}</td>
            <td align="center">{{room.key().name()}}</td>
            <td align="center" id="td{{room.key().name().replace('.','_')}}"></td>
            <td align="center"><div style="margin: 5px;float: left;"><img  id="img{{room.key().name().replace('.','_')}}" border="0"></div></td>
            <td align="center">{{room.num}}</td>
            <td align="center"><a href="/RoomCreate?appcode={{room.key().name()}}"><img src="/image/update.gif"  border="0"/></a>&nbsp;|&nbsp;

            <a href="javascript:delPlugin('{{room.key().name()}}')"><img src="/image/del.gif"  border="0"/></a>&nbsp;</td>
        </tr>

    {%endfor%}
    <tr  bgcolor="#ffffff">
        <td colspan="6">
            {%if pre!=0%}<a href="/RoomList?start={{pre}}">上一页</a> {%endif%}
            {%if count==20%}<a href="/RoomList?start={{nex}}">下一页</a> {%endif%}
        </td>
    </tr>
</table>

{% endblock %}