{% extends "template/basepage.html" %}
{% block js%}
        <script  type="text/javascript">
            var pluginlist = [];
            pluginlist.append('{{rank.key().name()}}');
            var plugindata=new Object();
            var pluginimgdata=new Object();
        </script>
        <script  type="text/javascript" src="{{pluginurl}}/getPluginNameByGamecode?appcode={{rank.key().name()}}"/>
        <script type="text/javascript">
            $j(function(){
                for(var i=0;i<pluginlist.length;i++){
                    $j('#td'+pluginlist[i]).html(plugindata[pluginlist[i]]);
                    $j('#img'+pluginlist[i]).att('src','{{pluginurl}}/download?image_id='+pluginimgdata[pluginlist[i]]);
                }
            });

        </script>
{% endblock%}
{% block navigator %}
<a  href="/PluginList">等级管理</a>
 >> <a href="#">修改游戏等级</a> >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form action="/RankCreate" enctype="multipart/form-data" method="post" id="form1" onsubmit="return valSubmit('form1');">
    {% if id %}
 <input type="hidden" name="id" value="{{rank.key().name()}}"/>
    {%endif%}
<table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
  <tr  bgcolor="#ffffff">
    <td style="padding-left:5px;" >游戏名称:</td>
  </tr>
  <tr  bgcolor="#ffffff">
    <td id="td{{rank.key().name()}}">
      </td>
  </tr>
    <!--<tr  bgcolor="#ffffff">-->
    <!--<td style="padding-left:5px;" >插见分类:(空格间隔)</td>-->
    <!--</tr>-->
    <!--<tr  bgcolor="#ffffff">-->
    <!--<td>-->
      <!--<input type="text" name="kind" value="{{plugin.kinds|join(' ')}}" style="width:500px;"/>    </td>-->
    <!--</tr>-->


  <tr bgcolor="#ffffff" >
    <td style="padding-left:5px;" >应用包名:</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>
	  <input type="text" name="appcode" val="{'required':true,'title':'应用包名'}"  value="{{rank.key().name()}}"  style="width:500px;"/><span class="red_star">*</span>	</td>
  </tr>
    <tr bgcolor="#ffffff" >
    <td style="padding-left:5px;" >应用图标:</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>
	  <img id="img{{rank.key().name()}}" />	</td>
  </tr>

  <tr bgcolor="#ffffff" >
    <td  style="padding-left:5px;" >等级:</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>
	    <table style="width: 100%;height: 100%;text-align: left;">
            {% for i,p,r in rlist %}
            <tr bgcolor="#ffffff">
                <td><input name="point{{i}}" value="{{p}}" width="25" /></td>
                <td><input name="rank{{i}}" value="{{r}}" width="25" /></td>
            </tr>
            {%for%}
            {% for i,p,r in elist %}
            <tr bgcolor="#ffffff">
                <td><input name="point{{i}}" value="{{p}}" width="25" /></td>
                <td><input name="rank{{i}}" value="{{r}}" width="25" /></td>
            </tr>
            {%for%}
	    </table>
    </td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td  align="left"  style="padding-left:25px;" >
      <input type="submit" name="Submit" value="确定"/>
	  <input type="reset" name="Reset" value="重置"/>

    </td>
  </tr>
</table>
</form>
{% endblock %}