{% extends "template/basepage.html" %}
{%block js%}
        <script  type="text/javascript">
            function delPlugin(id,kindid){
                art.dialog({id:'msg',title:'提示',content:"要删除点击的游戏么？",icon:'warning',lock: true,cancel:true,ok:function(){
                                try{
                                    $j.get('KindPluginDelete?id='+id+'&kindid='+kindid,null,result,false);

                                }catch(e){
                                    return ;
                                }
                            }});
            }
            function delKindPlugin(id){
                art.dialog({id:'msg',title:'提示',content:"要删除点击的分类么？",icon:'warning',lock: true,cancel:true,ok:function(){
                                try{
                                    $j.get('KindDelete?id='+id,null,result,false);

                                }catch(e){
                                    return ;
                                }
                            }});
            }
            function result(result){
                var resultobj=JSON2.parse(result);
                if(resultobj.success){
                    result_alert2('succeed',resultobj.message);
                }else{
                    result_alert2('warning',resultobj.message);
                }
                $j(".kind"+resultobj.result).each(function(i,tr){
                    tr.remove();
                });
                $j("#"+resultobj.result).each(function(i,tr){
                    tr.remove();
                });
                //document.getElementById('kind'+resultobj.result).style.display='none';
            }
        </script>
        <script  type="text/javascript">
            var plugindata=new Object();
            var pluginimgdata=new Object();
        </script>
        {% for rank in ranklist %}
        <script  type="text/javascript" src="{{pluginurl}}/getPluginNameByGamecode?gamecode={{rank.key().name()}}"/>
        {% endfor %}
{%endblock%}
{% block navigator %}
<a  href="/RankList">等级管理</a>
 >>  <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}

<table width="90%" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
    <tr bgcolor="#ffffff"  height="25">
    <td width="40px"  align="center">顺序号</td>
    <td width="80px" align="center">游戏gamecode</td>
    <td width="80px" align="center">游戏名称</td>
    <td width="80px" align="center">图标</td>
    <td width="100px" align="center">游戏包名</td>
    <td width="50px;" align="center">操作</td>
    </tr>
    {% for rank in ranklist %}
        <tr  style="cursor:hand"  height="25"  onmouseover="cells_color(this,1);" onMouseOut="cells_color(this,2);" bgcolor="#ffffff">
            <td align="center">{{loop.index}}</td>
            <td align="center">{{rank.key().name()}}</td>
            <td align="center" id="td{{rank.key().name()}}"></td>
            <td align="center"><div style="margin: 5px;float: left;"><img  src="{{pluginurl}}/download?image_id=" id="img{{rank.key().name()}}" border="0"></div></td>
            <td align="center"></td>
            <td align="center"><a href="/RankCreate?gamecode={{rank.key().name()}}"><img src="/image/up.gif"  border="0"/></a>&nbsp;|&nbsp;

            <a href="javascript:delPlugin('{{rank.key().name()}}')"><img src="/image/del.gif"  border="0"/></a>&nbsp;</td>
        </tr>

    {%endfor%}

</table>

{% endblock %}